{% extends 'base.html' %}

{% block title%} Products {% endblock%}

{% block content%}

<h1 class="title">{{stuff_at_top}}</h1>

{% comment %} ! Search form for products {% endcomment %}
<form class="mb-5" method="get">
  <div class="field has-addons">
    <div class="control">
      <!--  Our input will search by name of artist  -->
      <input class="input" type="text" name="name" placeholder="search for keycaps" />
    </div>
    <div class="control">
      <input class="button is-success" type="submit" value="Search" />
    </div>
  </div>
  <!--  This anchor tag will redirect back to artist list without a query param -->
  <a class="button is-dark" href="{% url 'products' %}">Clear Search</a>
</form>

<div class="gallery">
    {% for keycap in keycaps %}
      <div class="card">
        {% comment %} ! Easier way than saying localhost:8000/artist/1/ {% endcomment %}
        <a href="{% url 'products_detail' keycap.pk %}" >
          <div class="card-image">
            <figure class="image is-square">
              <img src="{{keycap.img}}" alt="{{keycap.name}}" />
            </figure>
          </div>
          <div class="card-header">
            <p class="card-header-title">{{keycap.name}}</p>
          </div>
        </a>
      </div>
    {% empty %} 
    {% comment %} ! this is for if the list is empty {% endcomment %}
      <h1>No keycaps found matching your query</h1>
    {% endfor %}
  </div>

{% endblock%}